<section>
  <h1>Isomorphic JavaScript</h1>
  <hr />
  <p>Building a shared JavaScript codebase that runs on both the client and the server</p>
  <hr />
  <p><small>April 2016 — Fox Sports Australia — <a href="https://github.com/fknussel" target="_blank">@fknussel</a></small></p>
</section>
