<section>
  <h2>Agenda</h2>
  <ol>
    <li>Brief review of the evolution of webapps</li>
    <li>Why we need isomorphic apps</li>
    <li>What isomorphic means and why it's a powerful solution</li>
    <li>Implementation details with React, Node and Express</li>
    <li>Live demo</li>
    <li>Links and Resources</li>
  </ol>
</section>
