<section>
  <h2>Agenda</h2>
  <ul>
    <li><strong>Why: <em>the problem</em></strong>
      <ol>
        <li>Brief review of the evolution of webapps</li>
        <li>About why we need isomorphic apps</li>
        <li>What isomorphic means and why it's a powerful solution</li>
      </ol>
    </li>
    <br />
    <li><strong>What: <em>the solution</em></strong>
      <ol>
        <li>What isomorphic means and why it's a powerful solution</li>
      </ol>
    </li>
    <br />
    <li><strong>How: <em>implementation details</em></strong>
      <ol>
        <li>Rendering on both the client and the server using React, Node and Express</li>
      </ol>
    </li>
  </ul>
</section>
