<section>
 <section>
    <h2>So, let's recap</h2>
  </section>

  <section>
    <h2>#1: Performance</h2>
    <p>The application first page load should be optimized, i.e. the critical rendering path should be part of the initial response</p>
    <p><em>... because slow initial page load times have a direct impact on businesses.</em></p>
  </section>

  <section>
    <h2>#1: Performance (cont'd)</h2>
    <h4>Initial page load times have become more critical than ever before</h4>
    <p>In 1999, the average user was willing to wait 8 seconds for a page to load. By 2010, 57% of online shoppers said that they would abandon a page after 3 seconds if nothing was shown <small><a href="http://bit.ly/radwarereport" target="_blank">source</a></small></p>
    <p>Page load times ultimately impact a company's "bottom line" (aka: <em>conversion rate</em>). Both Amazon and Walmart have reported that for every 100 milliseconds of improvements in their page load, they were able to grow incremental revenue by up to 1% <small><a href="http://www.globaldots.com/how-website-speed-affects-conversion-rates/" target="_blank">source</a></small></p>
  </section>

  <section>
    <h2>#2: SEO</h2>
    <p>The app should be able to be indexed by search engines</p>
    <p><em>... because, surprise surprise, we want people to find us.</em></p>
  </section>

  <section>
    <h2>#3: Optimized page transitions</h2>
    <p>The application should be responsive to user interactions</p>
    <p><em>... because this is 2016 and we can do better than full page reloads all the times.</em></p>
  </section>
</section>
