<section>
  <h2>Links and Resources</h2>
  <ul>
    <li>Slides: <a href="https://github.com/fknussel/isomorphic-slides" target="_blank">https://github.com/fknussel/isomorphic-slides</a></li>
    <li>Jason Strimpel and Maxime Najim. <a href="http://www.oreilly.com/web-platform/free/files/why-isomorphic-javascript.pdf" target="_blank">Why Isomorphic JavaScript?</a> O'Reilly, 2016.</li>
    <li><a href="http://nerds.airbnb.com/weve-launched-our-first-nodejs-app-to-product" target="_blank">Airbnb's post on going isomorphic</a></li>
    <li>Nicolas Hery. <a href="http://nicolashery.com/exploring-isomorphic-javascript/" target="_blank">Exploring Isomorphic JavaScript</a>. 2015.</li>
    <li><a href="https://github.com/nicolashery/example-isomorphic-one">Cool example with authentication and Flux</a></li>
    <li><a href="https://github.com/jesstelford/react-isomorphic-boilerplate">Isomorphic React Boilerplate</a></li>
  </ul>
</section>
