<section>
  <h2>Links & Resources</h2>
  <ul>
    <li>Slides: <a href="https://github.com/fknussel/isomorphic-slides" target="_blank">https://github.com/fknussel/isomorphic-slides</a></li>
    <li>Example: <a href="https://github.com/fknussel/isomorphic-example" target="_blank">https://github.com/fknussel/isomorphic-example</a></li>
    <li>Jason Strimpel and Maxime Najim. <a href="http://www.oreilly.com/web-platform/free/files/why-isomorphic-javascript.pdf" target="_blank">Why Isomorphic JavaScript?</a> O'Reilly, 2016.</li>
  </ul>
</section>
